.bmi-body {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.9); /* 设置背景颜色为白色，透明度为 90% */
  border-radius: 20px; /* 添加圆角属性 */
  padding: 20px; /* 添加内边距 */
  display: inline-block; /* 使容器以 inline-block 形式显示 */
}

.form input,
.form button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.form input::placeholder {
  color: #999;
}

.records table {
  width: 100%;
  border-collapse: collapse;
}

.records th, 
.records td {
  border: 1px solid #ddd;
  padding: 8px;
}

.records th {
  background-color: #f2f2f2;
}
