/* Navbar.css */
nav {
    background-color: #FFCDCD;
    overflow: hidden;
    position: fixed; /* 使导航栏固定在页面顶部 */
    top: 0;
    width: 100%;
    z-index: 1000; /* 确保导航栏位于其他内容的上方 */

    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* 使导航链接靠右排列 */
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 32px;
    font-family: 標楷體;
  }
  
  nav a:hover {
    background-color: #F2ACAC;
    color: black;
  }
  